name: Node.js Docker CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci

      - name: Lint code
        run: npx eslint
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm test

  code-coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci

      - name: Run tests with coverage
        run: npm test -- --coverage

      - name: Upload coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/
          retention-days: 5
  security-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Security scan with CodeQL
        uses: github/codeql-action/analyze@v2
        with:
          languages: javascript

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test

      - name: Build final  Image
        run: docker build -t prod-todo-api-node:latest .

      - name: Scan Docker Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'prod-todo-api-node:latest'
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'

  notify:
    runs-on: ubuntu-latest
    needs: security-and-build
    if: always()
    steps:
      - name: Discord notification
        uses: rjstone/discord-webhook-notify@v1
        with:
          severity: ${{ needs.security-and-build.result == 'success' && 'info' || 'error' }}
          # On simplifie les détails pour éviter le "Bad Request"
          details: |
            ${{ needs.security-and-build.result == 'success' && '✅ Succès' || '❌ Échec' }} sur ${{ github.repository }}
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
          description: |
            **Statut** : ${{ needs.security-and-build.result }}
            **Branche** : ${{ github.ref_name }}
            **Lien** : [Voir l'exécution](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})

  sonarcloud:
      needs: security-and-build
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: 0  # Important pour l'analyse des logs Git
        - name: SonarCloud Scan
          uses: SonarSource/sonarcloud-github-action@master
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}